version: '3.8'

services:
  postgres:
    image: postgres:15-alpine
    container_name: vegas_db
    ports:
      - "5450:5432" 
    environment:
      POSTGRES_USER: myuser
      POSTGRES_PASSWORD: mypassword
      POSTGRES_DB: vegas_crm
    volumes:
      - postgres_data:/var/lib/postgresql/data
    restart: always

volumes:
  postgres_data: